html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: monospace;
    background-color: #212529;
    color: #f8f9fa;
}

header {
    display: none;
}

header .supnav {
    width: 100%;
    padding: 0;
}

header .navbar {
    --bs-navbar-padding-y: 1rem;
    --bs-navbar-brand-font-size: 1.5rem;
    margin: 0 auto;
    width: 70%;
    background-color: transparent!important;
    border-bottom: 1px solid #f8f9fa;
}

header .navbar-brand {
    color: inherit;
}

main {
    height: 100%;
}

main .container {
    max-width: 70%;
    height: 100%;
}