/* --- GENERAL ---------- */

html, body {
    width: 100%;
}

body {
    margin: 0;
    font-family: arial;
}

a {
    text-decoration: none;
    color: #0366d6;
}

code { font-family: Consolas; }

.main-content { padding-bottom: 100px; }

/* --- GRID ---------- */

.container {
    margin: 0 auto;
    width: 70%;
    padding: 50px 0;
}
.row {
    display: table;
    width: 100%;
}
.col {
    display: table-cell;
    width: 50%;
    margin: 0 auto;
}

/* --- NAV ----------- */

.nav { 
    padding: 20px;
	background-color: #1e1e1e;
	margin-bottom: 50px;
}
.nav * { display: inline; }
.nav h1, .nav h3 {
    color: #dcdcdc;
    margin-right: 10px;
}
.nav a {
    float: right;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	height: 71px;
	transition: all 0.2s ease-in-out;
}
.nav a img {
	height: 100%;
}
.nav a:hover {
	opacity: 0.5;
}

/* --- FOOT ---------- */

.foot {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
	padding: 20px;
	background-color: #1e1e1e;
	text-align: center;
	color: #dcdcdc;
}
.foot a {
	text-decoration: none;
	right: 0;
	text-align: center;
}
.foot a img {
	width: 30px;
}

/* --- FORM INPUT ---------- */

.form-input { }
.form-input textarea { 
    resize: none;
    width: 90%;
}
.form-input input { width: 90%; }
.form-input button {
    border: none;
    border-radius: 3px;
    padding: 7px;
    margin: 5px;
    background-color: #007bff;
    color: #ffffff;
    font-size: inherit;
    transition: background-color 0.2s ease-in-out;
}
.form-input button:hover { background-color: #0087ff; }
.form-input textarea, .form-input input {
    font-family: inherit;
	font-size: inherit;
	margin: 5px;
	border: 1px solid #ced4da;
	border-radius: 3px;
	padding: 7px;
	transition: all 0.2s ease-in-out;
}
.form-input textarea:focus, .form-input input:focus {
    border: 1px solid #0099ff;
}

/* --- READ ME ---------- */

.read-me { 
    color: #24292e; 
    text-align: justify;
    overflow: hidden;
}
.read-me h1, .read-me h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid #eaecef;
}
.read-me p { line-height: 1.5; }
.read-me p code {
    font-size: 90%;
    background-color: #f0f0f0;
    border-radius: 3px;
    padding: .2em .4em
}
.read-me table {
    display: block;
    overflow: auto;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 16px;
}
.read-me table td, .read-me table th {
    padding: 6px 13px;
    border: 1px solid #eaecef;
}


/* --- DESKTOP ---------- */
@media only screen and (min-width: 1201px) {

    body { font-size: 16px; }

}



/* --- MOBILE ---------- */
@media only screen and (max-width: 1200px) {

    /* --- GENERAL ---------- */
    
    body { font-size: 19px; }

    /* --- GRID ---------- */
    .container {
        width: 90%;
        max-width: 90%;
        margin: 0 auto;
        word-wrap: break-word;
    }
    .row {
        width: 100%;
    }
    .col {
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }

    /* COL CONTENT */
    .form-input textarea {
        resize: none;
        width: 80%;
    }
    .form-input input {
        width: 80%;
    }

}